# Generating dummy data in dataframe using `Numpy` and `Pandas`
___

### Imports

In [1]:
import numpy as np
import pandas as pd

### Declaring list of columns

In [2]:
cols = ["Col1", "Col2", "Col3", "Col4"]

### Verifying length of columns

In [3]:
len(cols)

4

### Creating Dataframe with Random Integers from 1 to 100

In [4]:
df = pd.DataFrame(np.random.randint(0,100,size=(100000, 4)), columns=cols)

### Head

In [5]:
df.head()

   Col1  Col2  Col3  Col4
0    13    46    30    68
1    86     0    77    88
2    99    80    52    94
3     5    39    24    21
4    46    22    14     9

### Verifying length of DataFrame

In [6]:
len(df)

100000