In [7]:
import pandas as pd

**Reading excel file as a dataframe**

In [8]:
df = pd.read_excel('Resources/sample_employee.xlsx')

In [9]:
df

   ID      NAME  AGE    ADDRESS  SALARY
0   1    Ramesh   32  Ahmedabad    2000
1   2    Khilan   25      Delhi    1500
2   3   Kaushik   23       Kota    2000
3   4  Chaitali   25     Mumbai    6500
4   5    Hardik   27     Bhopal    8500
5   6     Komal   22         MP    4500
6   7     Muffy   24     Indore   10000

### To write file to xml format

In [10]:
with open('Resources\\sample.xml','w') as f:
    f.write('<file>\n')

**Extracting each row from dataframe and printing in xml format**

In [11]:
def func(row):
    xml = ['    <row>']
    for field in row.index:
        xml.append('        <column name="{0}">{1}</column>'.format(field, row[field]))
    xml.append('    </row>')
    return '\n'.join(xml)

**Write to a xml file**

In [12]:
with open('Resources\\sample.xml','a') as f:
    f.write('\n'.join(df.apply(func, axis=1)))
    
print('\n'.join(df.apply(func, axis=1)))

with open('Resources\\sample.xml','a') as f:
    f.write('\n</file>')

    <row>
        <column name="ID">1</column>
        <column name="NAME">Ramesh</column>
        <column name="AGE">32</column>
        <column name="ADDRESS">Ahmedabad</column>
        <column name="SALARY">2000</column>
    </row>
    <row>
        <column name="ID">2</column>
        <column name="NAME">Khilan</column>
        <column name="AGE">25</column>
        <column name="ADDRESS">Delhi</column>
        <column name="SALARY">1500</column>
    </row>
    <row>
        <column name="ID">3</column>
        <column name="NAME">Kaushik</column>
        <column name="AGE">23</column>
        <column name="ADDRESS">Kota</column>
        <column name="SALARY">2000</column>
    </row>
    <row>
        <column name="ID">4</column>
        <column name="NAME">Chaitali</column>
        <column name="AGE">25</column>
        <column name="ADDRESS">Mumbai</column>
        <column name="SALARY">6500</column>
    </row>
    <row>
        <column name="ID">5</column>
        <column name="NAME">Hardik</column>
        <column name="AGE">27</column>
        <column name="ADDRESS">Bhopal</column>
        <column name="SALARY">8500</column>
    </row>
    <row>
        <column name="ID">6</column>
        <column name="NAME">Komal</column>
        <column name="AGE">22</column>
        <column name="ADDRESS">MP</column>
        <column name="SALARY">4500</column>
    </row>
    <row>
        <column name="ID">7</column>
        <column name="NAME">Muffy</column>
        <column name="AGE">24</column>
        <column name="ADDRESS">Indore</column>
        <column name="SALARY">10000</column>
    </row>