### Importing Pandas

In [1]:
import pandas as pd

**Reading excel file as a dataframe**

In [3]:
df = pd.read_excel('Resources/sample_employee.xlsx')

In [4]:
df

   ID      NAME  AGE    ADDRESS  SALARY
0   1    Ramesh   32  Ahmedabad    2000
1   2    Khilan   25      Delhi    1500
2   3   Kaushik   23       Kota    2000
3   4  Chaitali   25     Mumbai    6500
4   5    Hardik   27     Bhopal    8500
5   6     Komal   22         MP    4500
6   7     Muffy   24     Indore   10000

**Extracting each row from dataframe and printing in xml format**

In [5]:
def func(row):
    xml = ['<row>']
    for field in row.index:
        xml.append('  <column name="{0}">{1}</field>'.format(field, row[field]))
    xml.append('</row>')
    return '\n'.join(xml)

print('\n'.join(df.apply(func, axis=1)))

<row>
  <column name="ID">1</field>
  <column name="NAME">Ramesh</field>
  <column name="AGE">32</field>
  <column name="ADDRESS">Ahmedabad</field>
  <column name="SALARY">2000</field>
</row>
<row>
  <column name="ID">2</field>
  <column name="NAME">Khilan</field>
  <column name="AGE">25</field>
  <column name="ADDRESS">Delhi</field>
  <column name="SALARY">1500</field>
</row>
<row>
  <column name="ID">3</field>
  <column name="NAME">Kaushik</field>
  <column name="AGE">23</field>
  <column name="ADDRESS">Kota</field>
  <column name="SALARY">2000</field>
</row>
<row>
  <column name="ID">4</field>
  <column name="NAME">Chaitali</field>
  <column name="AGE">25</field>
  <column name="ADDRESS">Mumbai</field>
  <column name="SALARY">6500</field>
</row>
<row>
  <column name="ID">5</field>
  <column name="NAME">Hardik</field>
  <column name="AGE">27</field>
  <column name="ADDRESS">Bhopal</field>
  <column name="SALARY">8500</field>
</row>
<row>
  <column name="ID">6</field>
  <column name="NAME">Komal</field>
  <column name="AGE">22</field>
  <column name="ADDRESS">MP</field>
  <column name="SALARY">4500</field>
</row>
<row>
  <column name="ID">7</field>
  <column name="NAME">Muffy</field>
  <column name="AGE">24</field>
  <column name="ADDRESS">Indore</field>
  <column name="SALARY">10000</field>
</row>

**Write to XML file**

In [7]:
def func(row):
    xml = ['<row>']
    for field in row.index:
        xml.append('  <column name="{0}">{1}</field>'.format(field, row[field]))
    xml.append('</row>')
    return '\n'.join(xml)

with open('Resources/sample.xml','w') as f:
    f.write('\n'.join(df.apply(func, axis=1)))